<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>404</title>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
            <div class="header-wrapper">
                <h2 class="header">404</h2>
    
            </div>
            <div class="info-wrapper">
                <p class="info">Oops! Looks like you've ventured into the unknown. The page you're looking for seems to have taken a vacation. Don't worry, though! Our team of digital detectives is on the case. In the meantime, feel free to explore the rest of our site. Who knows, you might stumble upon a hidden tasty treasure! </p>
    
            </div>
     


    </div>
       
</body>
</html>