<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="/css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Tasty Treasures</title>
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Tasty Treasures</h1>

    <div class="container">
        <div class="info-wrapper">
            <p>Welcome to Tasty Treasures! Your ultimate destination for discovering delicious meal recipes tailored to your taste and dietary needs. Explore a vast collection of recipes and filter your search based on your desired macronutrient balance. Whether you're counting calories, watching your protein intake, or craving a carb-rich dish, Tasty Treasures has something delightful in store for you. Start your culinary adventure today!</p>
        </div>
    </div>

</body>
</html>
